{% extends 'base.html.twig' %}

{% block title %}
    {{'Grain de Vrac -'}}
    {% if title is defined %} {{title}} {% endif %}
{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/backOfficeStyle.css') }}" /> {% endblock %}

{% block body%}

    {% include "nav/navBar.html.twig" %}

    <header>
        <h1>{% if title is defined%}{{title}}{% endif %}</h1>
    </header>
    <div class="headerMarge"></div>

    <main>
       {% if page is defined%} {% include "main/" ~ page ~ ".html.twig" %} 
       {% else %}
       <h2>Fonctionalité à venir lors d'une prochaine version</h2>
       {% endif %}
    </main>

{% endblock %}
