{% extends 'base.html.twig' %}

{% block title %}
    {{'Grain de Vrac -'}}
    {% if title is defined %} {{title}} {% endif %}
{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/homeStyle.css') }}" /> {% endblock %}

{% block body%}

    {% include "components/navBar.html.twig" %}

    <header>
        <h1>{% if title is defined%}{{title}}{% endif %}</h1>
    </header>

    {# TODO: inclure le main ici #}

{% endblock %}