{% extends 'base.html.twig' %}

{% block title 'Grain de Vrac - Demo' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/demoStyle.css') }}" /> {% endblock %}

{% block body%}

    {% include "components/navBar.html.twig" %}

    <h1>BackOffice-Demo</h1>

{% endblock %}