{% extends 'pages/backOffice/templateBackOffice.html.twig' %}

{% block body %}
    <div class="main">

        <div class="buttonAddNewCity"><a href="{{ path('city.newCity') }}"><button>Ajouter une nouvelle ville</button></a></div>

        {% for data in datas %}
            <div class="cityCard">

            </div>
        {% endfor %}
    </div>
{% endblock %}