body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(232, 232, 239);
    height: 100vh;
}

h1 + h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

input[type=submit]{
    background-color: rgb(103,73,255);
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border:none;
    padding: 16px;
    width: 100%;
    border-radius: 3px;
}

input[type=submit]:hover {
    background-color: rgb(238,123,0);
    cursor: pointer;
}