{% extends 'backOffice/nav-backOffice/nav-backOffice.html.twig' %}

{% block content %}
    <main class="backOffice-main">
        <div class="card">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit">Editer</button>
            {{ form_end(form) }}
        </div>
    </main> 
{% endblock %}