{% extends 'backOffice/nav-backOffice/nav-backOffice.html.twig' %}

{% block content %}
    <main class="backOffice-main">
        {% for data in datas %}
            <div class="card">
                <h2 class="card-title typo_OR">{{data.title}}</h2>
                <div class="card-content">{{data.content}}</div>
                <a href="{{ path('home.edit', {id: data.id})}}"><button>editer</button></a>
            </div>
        {% endfor %}
    </main> 
{% endblock %}