<li>
	<a href='{{path('home')}}' class="{% if subMenu is defined and subMenu == 'home'%}menu_active{% endif %}">Home Page</a>
</li>
<li>
	<a href='{{path('calendar')}}' class="{% if subMenu is defined and subMenu == 'calendar'%}menu_active{% endif %}">Calendriers</a>
</li>
<li>
	<a href='/home/catalogue' class="{% if subMenu is defined and subMenu == 'catalog'%}menu_active{% endif %}">Catalogue</a>
</li>
<li>
	<a href='/home/liste-des-recettes' class="{% if subMenu is defined and subMenu == 'recipes'%}menu_active{% endif %}">Liste des recettes</a>
</li>
<li>
	<a href='{{path('about')}}' class="{% if subMenu is defined and subMenu == 'about'%}menu_active{% endif %}">Qui sommes-nous</a>
</li>
<li>
	<a href='{{path('cgu')}}' class="{% if subMenu is defined and subMenu == 'cgu'%}menu_active{% endif %}">Mentions Légales</a>
</li>