{% extends 'base.html.twig' %}

{% block title 'Grain de Vrac - Home' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/homeStyle.css') }}" /> {% endblock %}

{% block body%}

    {% include "components/navBar.html.twig" %}

    <h1>BackOffice-Home</h1>

{% endblock %}