nav {
    width: 100vw;
    background-color: white;
    position: fixed;
    bottom: 0;
}

nav .iconWrapper {
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

nav .iconWrapper li {
    position:relative;
}

nav .iconWrapper li a img {
    height: 35px;
}

.iconActive::before {
    position: absolute;
    content:"";
    width: 12px;
    height: 12px;
    border-left:solid 2px rgb(103,73, 255);
    border-top:solid 2px rgb(103,73, 255);
    transform: rotateZ(45deg);
    left:33%;
    top: -28px;
}

nav .linkList {
    padding: 0 32px;
}

nav .linkList .linkListWrapper ul {
    display: flex;
}

nav .linkList .linkListWrapper {
    padding: 16px 0;
    white-space: nowrap;
    overflow: auto;
    border-bottom: 2px black solid;
}

nav .linkList .linkListWrapper ul li{
    padding-left: 32px;
}

nav .linkList .linkListWrapper ul li:first-child{
    padding-left: 0;
}

nav .linkList .linkListWrapper ul li a {
    text-decoration: none;
}

nav .linkList .linkListWrapper ul li a:hover {
    text-decoration: underline;
}

nav .linkList .linkListWrapper ul li .menu_active {
    color: rgb(103,73, 255); 
    text-decoration: underline;
}