{% extends 'base.html.twig' %}

{% block title 'Grain de Vrac - Admin - Connexion' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/connectStyle.css') }}" /> {% endblock %}

{% block body%}

    <div class="wrapper">

        <header>
            <div class="backgroundViolet"></div>
            <a href='http://graindevrac.com'><img src="{{ asset('assets/grainDeVrac-logo-blanche-png.png')}}" alt="logo Grain de vrac - Par Coralie Lasseur"></a>
        </header>

        <main>
            <h2>Connexion</h2>

            <form methode="POST" action="/home" >
                <label for="email">Adresse e-mail</label>
                    <input type="email" id="email" name="email" placeholder="entrez votre addresse e-mail"></input>
                
                <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="entrez votre mot de passe"></input>
                

                <a href="/mot-de-passe-oublie">mot de passe oublié ?</a>

                <input type="submit" value="Me connecter" />
            </form>
        </main>
    </div>

{% endblock %}