<li>
	<a href='/home' class="{% if current_subMenu is defined and current_subMenu == ''%}menu_active{% endif %}">Home Page</a>
</li>
<li>
	<a href='/home/calendrier' class="{% if current_subMenu is defined and current_subMenu == 'calendar'%}menu_active{% endif %}">Calendriers</a>
</li>
<li>
	<a href='/home/catalogue' class="{% if current_subMenu is defined and current_subMenu == 'catalog'%}menu_active{% endif %}">Catalogue</a>
</li>
<li>
	<a href='/home/liste-des-recettes' class="{% if current_subMenu is defined and current_subMenu == 'recipes'%}menu_active{% endif %}">Liste des recettes</a>
</li>
<li>
	<a href='/home/qui-sommes-nous' class="{% if current_subMenu is defined and current_subMenu == 'about'%}menu_active{% endif %}">Qui sommes-nous</a>
</li>
<li>
	<a href='/home/mentions-legales' class="{% if current_subMenu is defined and current_subMenu == 'cgv'%}menu_active{% endif %}">Mentions Légales</a>
</li>
