header {
    padding: 32px;
    background-color: white;
    position: fixed;
    width: 100vw;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 550;
    color: rgb(103,73, 255);
}

nav {
    width: 100vw;
    background-color: white;
    position: fixed;
    bottom: 0;
}

nav .iconWrapper {
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

nav .iconWrapper li {
    position:relative;
}

nav .iconWrapper li a img {
    height: 35px;
}

.iconActive::before {
    position: absolute;
    content:"";
    width: 12px;
    height: 12px;
    border-left:solid 2px rgb(103,73, 255);
    border-top:solid 2px rgb(103,73, 255);
    transform: rotateZ(45deg);
    left:33%;
    top: -28px;
}

nav .linkList {
    padding: 0 32px;
}

nav .linkList .linkListWrapper ul {
    display: flex;
}

nav .linkList .linkListWrapper {
    padding: 16px 0;
    white-space: nowrap;
    overflow: auto;
    border-bottom: 2px black solid;
}

nav .linkList .linkListWrapper ul li{
    padding-left: 32px;
}

nav .linkList .linkListWrapper ul li:first-child{
    padding-left: 0;
}

nav .linkList .linkListWrapper ul li a {
    text-decoration: none;
}

nav .linkList .linkListWrapper ul li a:hover {
    text-decoration: underline;
}

nav .linkList .linkListWrapper ul li .menu_active {
    color: rgb(103,73, 255); 
    text-decoration: underline;
}

.headerMarge{
    height: 108px;
}


main {
    height: 63vh;
    margin: 0 32px;
    margin-top: 32px;
    overflow: auto;
}

/* .bigForm {
    padding: 32px 16px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 20vh;
} */

.bigForm h2 {
    font-family: Oswald, sans-serif;
    font-size: 32px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.bigForm label {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.bigForm textarea {
    font-family: lato, sans-serif;
    font-size: 16px;
    border:none;
    color: rgb(72, 69, 102);
    background-color: rgb(225, 219, 255);
    margin:auto;
    margin-bottom: 32px;
    border-radius: 3px;
    width: 100%;
    /* resize: vertical; */
    resize: none;
    padding: 16px;
}

.bigForm form {
    padding: 32px 16px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 32px;
}

.bigForm form div > div {
    display: flex;
    flex-direction: column;
}

.inputArea label {
    margin-bottom: 16px;
}

.inputArea textarea {
    font-family: lato, sans-serif;
    font-size: 16px;
    border:none;
    color: rgb(72, 69, 102);
    background-color: rgb(225, 219, 255);
    margin:auto;
    margin-bottom: 32px;
    border-radius: 3px;
    width: 100%;
    /* resize: vertical; */
    resize: none;
    padding: 16px;
    
}

.inputArea .typeInput {
    font-family: lato, sans-serif;
    font-size: 16px;
    border:none;
    color: rgb(72, 69, 102);
    background-color: rgb(225, 219, 255);
    margin:auto;
    margin-bottom: 32px;
    border-radius: 3px;
    width: 100%;
    /* resize: vertical; */
    padding: 16px;
    
}

.inputArea{
    font-family: lato, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
    margin-top: 32px;
    padding: 16px;
    border-radius: 3px;
}

.calendarCard .calendarCardContent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.calendarCard .calendarCardContent:last-child{
    margin-bottom: 0px;
}

.card .action div {
    cursor: pointer;
    text-decoration: underline;
}

.calendarCard .times {
    font-weight: 700;
}

.calendarCard .method {
    font-weight: 400;
}

.card .action .modify {
    color: rgb(103,73, 255);
}

.card .action .delete {
    color: rgb(238, 123, 0);
}

.cardWrapper {
    display: flex;
    justify-content: space-between;
}

.cardWrapper .action {
    display: flex;
}

.cardWrapper .action div {
    margin-left: 34px;
}